<h1>Listing Products</h1>
<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Title</th>
      <td>&nbsp;</td>
    </tr>
  </thead>
  <tbody id="articles">
    <% @articles.each do |article| %>
    <%= render "article", :article => article %>
    <% end %>
  </tbody>
</table>

<%= will_paginate(@articles) %>