<h1>Listing products</h1>

<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Product Name</th>
      <th>Category Name</th>
    <th>Price</th>
    <th>Colour</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  <tbody id="products">
<% @products.all.each do |product| %>
<%= render "product", :product => product %>
<% end %>
<%= will_paginate @products %>
</tbody>
</table>

<br />

<%#= link_to 'New Product', new_product_path, :remote => true, :id => "new_product_link" %>