<div class="product-list">
<h1>Listing products</h1>

<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Product Name</th>
      <th>Category Name</th>
    <th>Price</th>
    <th>Colour</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  <tbody id="products">
<% @products.all.each do |product| %>
<%= render "product", :product => product %>
<% end %>
</tbody>
</table>
<%= will_paginate @products %>
</div>

<script>
$(function(){
   $('.pagination a').attr('data-remote', 'true')
});
</script>